<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>buy an item</title>
</head>
<body>
    <h1>Demo use for the razorpay payment gateway.</h1>
    <p>1 rupees</p>
    <a href="/proceed">buy now.</a>
 

    
</body>
</html>