<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .company_name{
            text-align: center;
        }
       .sub_company_name{
           font-size: 12px;
       }
    </style>
</head>
<body> 
        <%- include('./partial/common') %>
      <h1>welcome user !</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum maiores architecto obcaecati at libero debitis?</p>
</body>
</html>