<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page ...</title>
    <style>
         input
         {
             margin-bottom: 10px; 
         }
    </style>
   

</head>
<body>    
        <%- include('./partial/common') %>
     
     <h1>login</h1>
     <form action="/login" method="POST">
         <input type="text" name="username" placeholder="username"> 
         <br>
         <input type="password" name="password" placeholder="password"> 
         <br>
       <input type="submit" value="login now. "> 
     </form>

      <span>dont have an account ?</span> <a href="/register">create now.</a>
</body>
</html>