<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>orders</title>
    <style>
     .order_container{
         display: grid ; 
         grid-template-columns: 1fr 1fr 1fr ;
     }
    </style>
</head>
<body>
        <%- include('./partial/common') %>
    <h1>all orders</h1>
    <% for(var i=0 ; i<orders.length ; i++) {  %> 
        <div>
            <span>paymentid - </span> <%= orders[i].paymentid %> <br>
            <span>orderid - </span> <%= orders[i].orderid %> <br>
            <span>paymentid -</span> <%= orders[i].signature %>
        </div>
     <% }  %>
     <hr>  

</body>
</html>