<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>products.</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <%- include('./partial/common') %>
        <h1 class="product-text">our products.</h1>
        <hr>
     
          <%   if(typeof products !== 'undefined') {  %>
             <!-- <form action="#" method="POST" class="filter-product-form">
                 <select name="keyvalue" id="">
                     <option value="none">filter by product</option>
                     <option value="all">all</option>
                     <option value="jean">jean</option>
                     <option value="shirt">shirt</option>
                     <option value="tshirt">tshirt</option> 
                     <input type="submit" value="filter">
                 </select>
             </form> -->
            <div class="all-products">
                <% for(var i=0 ; i < products.length ; i++) {%>
                    <div class="product_description">
                        <h4><%= products[i].productname %></h4>
                        <h1><%= products[i].productprice %> rupees</h1>
                         <form action="/checkout" method="POST">
                             <input type="hidden" name="productid" value="<%= products[i]._id %>">
                            <input type="submit" value="buy now !">
                         </form>
                     </div>
                 <% } %>
            </div>
                  
            <% } %>
        
</body>
</html>