.product_descritption{
    text-align: center;
}
.product-text{
    text-align: center;
}
.company_name{
       text-align: center;
   }
  .sub_company_name{
      font-size: 12px;
  }


  input
  {
      margin-bottom: 10px; 
  }

  .error-msg{
      color: red;
  }
  .all-products{
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
  }
  .filter-product-form{
    width: 50%;
    margin: auto; 
    text-align: center;
    
  }