.product_descritption{
    text-align: center;
}
.product-text{
    text-align: center;
}
.company_name{
       text-align: center;
   }
  .sub_company_name{
      font-size: 12px;
  }


  input
  {
      margin-bottom: 10px; 
  }

  .error-msg{
      color: red;
  }